{
  "name": "puppet-aci",
  "version": "$VERSION",
  "author": "palesiak@cisco.com",
  "summary": null,
  "license": "Apache-2.0",
  "source": "Cisco Advanced Services",
  "project_page": "https://github.com/datacenter/puppet-aci",
  "issues_url": null,
  "dependencies": [
    
  ]
}